{% extends 'MaithJuicioCiudadanoBundle::adminlayout.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithcommonimage/css/maithalbums.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithcommonadmin/css/colorbox.css') }}" />
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/js/jquery.colorbox-min.js') }}"></script>    
<script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/js/galleryManager.js') }}"></script>    
{% endblock %}


{% block body %}
<!-- content wrapper -->
<div class="content-wrap">
  <div class="row">
    
      {{ render(controller('MaithCommonAdminBundle:Gallery:index'))}}
    
  </div>
</div>

{% endblock %}
