{% extends 'MaithJuicioCiudadanoBundle::adminlayout.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}


{% block body %}
<!-- content wrapper -->

{% endblock %}
