{% if (smallnavigation is defined) and smallnavigation %}
<nav class="main-navigation">
{% else %}
<nav class="main-navigation slimscroll" data-height="auto" data-size="4px" data-color="#ddd" data-distance="0">
{% endif %}
  <ul>
	<li>
      <a href="{{ path('admin_index')}}">
        <i class="fa fa-coffee"></i>
		<span>Inicio</span>
      </a>
	</li>
	
	<li class="{% if (activemenu is defined) and activemenu == 'article' %}active{%endif%}">
		<a href="{{ path('admin_article')}}">
			<i class="fa fa-newspaper-o"></i>
			<span>Noticias</span>
		</a>
    </li>
    <li class="{% if (activemenu is defined) and activemenu == 'textarticle' %}active{%endif%}">
	<a href="{{ path('admin_text_article')}}">
		<i class="fa fa-newspaper-o"></i>
		<span>Textos</span>
	</a>
    </li>
    <li class="{% if (activemenu is defined) and activemenu == 'links' %}active{%endif%}">
      <a href="{{ path('admin_links')}}">
          <i class="fa fa-newspaper-o"></i>
          <span>Links de interes</span>
      </a>
    </li>
    <li class="{% if (activemenu is defined) and activemenu == 'multimedia' %}active{%endif%}">
      <a href="{{ path('admin_multimedia')}}">
          <i class="fa fa-newspaper-o"></i>
          <span>Multimedia</span>
      </a>
    </li>
    <li class="{% if (activemenu is defined) and activemenu == 'prensa' %}active{%endif%}">
      <a href="{{ path('admin_prensa')}}">
          <i class="fa fa-newspaper-o"></i>
          <span>Prensa</span>
      </a>
    </li>
    
    <li class="{% if (activemenu is defined) and activemenu == 'gallery' %}active{%endif%}">
		<a href="{{ path('admin_gallerie')}}">
			<i class="fa fa-file-image-o"></i>
			<span>Galeria de imagenes</span>
		</a>
	</li>
    
    <li class="{% if (activemenu is defined) and activemenu == 'resultados' %}active{%endif%}">
		<a href="{{ path('admin_resultados')}}">
			<i class="fa fa-newspaper-o"></i>
			<span>Resultados</span>
		</a>
	</li>
    
    <li>
		<a href="{{ path('maith_common_translator_homepage')}}">
			<i class="fa fa-file-text-o"></i>
			<span>Modificar Textos</span>
		</a>
	</li>
    
  </ul>
</nav>
