<ul class="nav navbar-nav navbar-right off-right">
  <li class="hidden-xs">
	<a href="javascript:;">
	  +{{ app.user.username }}
	</a>
  </li>

  
  <li class="quickmenu">
	<a href="javascript:;" data-toggle="dropdown">
	  <img src="{{ asset('bundles/maithjuiciociudadano/admin/img/avatar.jpg')}}" class="avatar pull-left img-circle" alt="user" title="user">
	  <i class="caret mg-l-xs hidden-xs no-margin"></i>
	</a>
	<ul class="dropdown-menu dropdown-menu-right mg-r-xs">
	  <li>
		<a href="{{ path('user_show')}}">
		  <div class="pd-t-sm">
			{{ app.user.username }}
			{#
			<br>
			<small class="text-muted">4.2 MB of 51.25 GB used</small>
			#}
		  </div>
		  {#
		  <div class="progress progress-xs no-radius no-margin mg-b-sm">
			<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
			</div>
		  </div>
		  #}
		</a>
	  </li>
	  <li>
		<a href="{{ path('user_show')}}">Editar usuario</a>
	  </li>
	  <li>
		<a href="{{ path('homepage') }}">Sitio</a>
	  </li>
	  {#
	  <li>
		<a href="javascript:;">Notifications
		  <div class="badge bg-danger pull-right">3</div>
		</a>
	  </li>
	  <li>
		<a href="javascript:;">Help ?</a>
	  </li>
	  #}
	  <li class="divider"></li>
	  <li>
		<a href="{{ path('fos_user_security_logout')}}">Salir</a>
	  </li>
	</ul>
  </li>
</ul>
