<form class="{{ css_class }}" action="{{ search_url }}">
  <div class="div_search">
    <input type="text" class="search-input" placeholder="{% trans %}menu_buscar{% endtrans %}" id="{{ field_id|default('') }}" name="{{ query_param_name }}" value="{{ query|default('') }}" />
    <input type="submit" value=""  class="input_submit"/>
    </div>
</form>
