/*

	Template Author : pixelhint.com
	Author Email    : contact@pixelhint.com
	Template Name   : Sublime
	
	
	*****************************************
	
	
    - fonts
    - general css
    - billboard
    - header
    - services
    - video
    - testimonials
    - blog posts
	- footer
	
*/


/*  General CSS*/
body{
    background: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

.wrapper{
    width: 1100px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 ,h6{
    color: #626262;
    letter-spacing: 1px;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}
.clear{
    clear: both;
}


.wrapper_ppal{
    background: ;
    
}



/*    Billboard    */
.billboard{
    width: 100%;
    height: auto;
    position: relative;
    min-width: 1100px;
}
/*.billboard img{
    margin: 0 0 20px 0;
}*/
.billboard.light{
     
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.billboard.dark{
    
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


/*.billboard .shadow{
    position: absolute;
    width: 100%;
    height: 142px;
    bottom: 0;
    left: 0;
    margin-bottom: -1px;
    background: url('../img/shadow.png') repeat-x;
}*/

.billboard .caption{
    /*margin-top: 130px;*/
    text-align: center;
}

.billboard .caption.light{
    color: #fff;
}

.billboard .caption.dark{
    color: #5d5d5d;
}

.billboard .caption h1{
    font-size: 50px;
    font-weight: bold; 
    margin-bottom: 30px;
}

.billboard .caption.light h1{
    color: #fff;
}

.billboard .caption.dark h1{
    color: #5d5d5d;
}

.billboard .caption p{
    font-size: 18px;
    margin-bottom: 30px;
}

.billboard .caption.light p{
    color: #fff;
}

.billboard .caption.dark p{
    color: #5d5d5d;
}

.billboard .caption hr{
    display: inline-block;
    height: 1px;
    width: 30px;
    border: 0!important;   
    margin: 0;
    padding: 0;
}

.billboard .caption.light hr{
    background: #fff;
}

.billboard .caption.dark hr{
    background: #5d5d5d;
}






/*    header    */
header{
    width: 100%;
    position: fixed;
    z-index:2000;
    padding: 10px 0;
    background: #FFFFFF;
}

header .logo{
    float: left;
    width: 15%;
}

/*.menu nav{
    float: right;
    margin-top: 57px;
}


.menu nav ul li{
    list-style: none;
    display: block;
    float: left;
    margin-left: 50px;
        color: #ba1c00;
    text-transform: uppercase;
}

.menu nav ul li a{
    text-decoration: none;  
    font-size: 16px;
    font-weight: 600;
    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

.menu nav ul li a{  
    color: #ba1c00;
}

.menu nav ul li a:hover{
    color: #48190e;
}*/
.menu{
    overflow: hidden;
    width: 1100px;
    margin: 0 auto;
    }
.menu_top{
    width: auto;
    position: absolute;
    right: 12.5%;
    top: 10px;
    }
.menu_top ul{
    list-style-type: none;
    margin-top:8px; 
    float: left;
    }
    .menu_top ul li{
        float: left;
        margin-right: 15px;
        }
        .menu_top ul li a{
            font-size: 14px;
            color: #240c02;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 600;
            }
            .menu_top ul li a:hover,
             .menu_top ul li a.current{
                color: #ba1c00;
                }
.menu_top form{
    float: left;
    }
    .menu_top form input{
        background: none;
        border:none;
        color: #FFFFFF;
        font-size: 12px;
        padding: 5px;
        width: 155px;
        }
        .menu_top form input.input_submit{
            width: 28px;
            height: 28px;
            background: url('/img/search.png') left top no-repeat;
            cursor: pointer;
            }
        #search::-webkit-input-placeholder{
            color: #FFFFFF;
            }
        #search:-moz-placeholder{
            color: #FFFFFF;
            }
        #search::-moz-placeholder{
            color: #FFFFFF;
            }
        #search:-ms-input-placeholder{
            color: #FFFFFF;
            }
.div_search{
    width: 200px;
    height: 30px;
    padding: 1px 0;
    background: #ba1c00;
    }

/*    bloque_top    */
.bloque_top{
    margin-bottom: 50px;
}
.bloque_top ul{
    /*margin-top: 250px;*/
}

.bloque_top ul li{
    list-style: none;
    display: block;
    width: 260px;
    float: left;
    margin-left: 20px;
    text-align: center;
}
.bloque_top.internas ul li{
    list-style: none;
    display: block;
    width: 255px;
    float: left;
    margin:0 10px 15px 10px;
    text-align: center;
}
.bloque_top.internas ul li:first-child{
    margin-left: 10px;
}

.bloque_top ul li:first-child{
    margin-left: 0;
}

.bloque_top ul li .separator{
    display: block;
    width: 1px;
    height: 20px;
    background: #e8e8e8;
    margin: 20px auto;
}

.bloque_top ul li h2{
    color: #4e4e4e;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.bloque_top ul li p{
   color: #4e4e4e;
    font-size: 14px;
    line-height: 20px; 
    margin-top: 20px;
    letter-spacing: .5px;
}

.bloque_top ul li a{
   color: #4e4e4e;
   font-size: 12px;
   text-decoration: none;
   display: block;
   margin-top: 20px;
   font-weight: 600;
   background: url('/img/go.png') 153px -5px no-repeat;
   background-size: 6%;
    }
    .bloque_top ul li a:hover{
        background: url('/img/go.png') 153px 4px no-repeat;
        background-size: 6%;
        color: #ba1c00;
        }

.bullet_vertical{
    width: 1100px;
    }
    .bullet_vertical img{
        margin: 0 auto;
        width: 1.5%;
        display: block;
        }
        .bullet_vertical_down img{
         -moz-transform: rotate(180deg);
         -o-transform: rotate(180deg);
         -webkit-transform: rotate(180deg);
         transform: rotate(180deg);
        }


/*    participa    */
.participa{
    display: block;
    width: 100%;
    height: 350px;
    text-align: center;
    background: #612905;    
    min-width: 1100px;
    }
.participa_content{
    width: 1100px;
    margin: 0 auto;
    }

.participa ul{
    margin-top: 50px;
}

.participa ul li{
    list-style: none;
    display: block;
    width: 340px;
    float: left;
    margin-left: 40px;
    text-align: center;
}

.participa ul li:first-child{
    margin-left: 0;
}


.participa ul li h2{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
}

.participa ul li p{
   color: #ffffff;
   font-weight: normal;
    font-size: 14px;
    line-height: 20px; 
    margin-top: 20px;
    letter-spacing: .5px;
}

.participa ul li a{
   color: #ffffff;
   font-size: 12px;
   text-decoration: none;
   display: block;
   margin-top: 20px;
   font-weight: 600;
   background: url('/img/go_participa.png') 192px -8px no-repeat;
   background-size: 6%;
    }
    .participa ul li a:hover{
        background: url('/img/go_participa.png') 192px 4px no-repeat;
        background-size: 6%;
        color: #ba1c00;
        }

/*    internas    */
.internas{
    display: block;
    width: 100%;
    text-align: center;
    min-width: 1100px;
    }
.internas{
    width: 1100px;
    margin: 0 auto;
    }
.internas h1{
    font-size: 40px;
    color: #ba1c00;
    font-weight: bold;
    text-transform: uppercase;
    margin:10px 0 20px 0;
    }
.internas{
    margin-top: 30px;
    }
.internas p{
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
    color: #4e4e4e;
    text-align: center;
    }
.internas img{
    margin: 50px 10px 30px 10px;
}


.title{
    text-align: center;
    overflow: hidden;
}

.title h2{
    color: #616161;
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 7px 0;
    text-transform: uppercase;
}   

.title h3{
    color: #9b9b9b;
    font-size: 14px;
    margin: 0 0 20px 0;
    font-weight: normal!important;
}

.title h4{
    color: #616161;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 7px 0;
}   

.title hr.separator{
    display: block;
    width: 40px;
    height: 1px;
    background-color: #ebebeb;
    margin: 0 auto;
    padding: 0;
    border: 0!important;
    }
.title hr.separator_large{
    display: block;
    width: 1100px;
    height: 1px;
    background-color: #ebebeb;
    margin: 0 auto 15px auto;
    padding: 0;
    border: 0!important;
    }

.redes_share{
    display: block;
    margin: 15px auto 0 auto;
    }
.paginacion{
    text-align: center;
    display: block;
    margin: 0 auto 20px auto;
    color: #612905;
    font-size: 14px;
    font-weight: 600;
    }
    .paginacion a{
        color: #612905;
        text-decoration: none;
        }
        .paginacion a:hover,
        .paginacion a.current{
        color: #ba1c00;
        text-decoration: none;
        }



/*    proyecto    */
.proyecto{
    margin-top: 50px;
    }
.proyecto p{
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
    color: #4e4e4e;
    text-align: center;
    }
.proyecto a{
   color: #ba1c00;
   font-size: 12px;
   text-decoration: none;
   display: block;
   margin-top: 20px;
   font-weight: 600;
   background: url('/img/go.png') 575px 4px no-repeat;
   background-size: 2%;
   display: block;
   text-align: center;
    }
    .proyecto a:hover{
        background: url('/img/go.png') 575px -10px no-repeat;
        background-size: 2%;
        color: #4e4e4e;
        }

/*    contacto  - registro */

.contacto{
    margin-top: 50px;
    }
    .contacto form{
        margin-top: 20px;
        }
    .contacto form input,
    .contacto_internas form input{
        width: 500px;
        height: 30px;
        float: left;
        margin-left:46px; 
        border: 1px solid #d0d0d0;
        padding: 5px 10px;
        font-size: 14px;
        color: #abaaaa;
        font-family: 'Source Sans Pro', sans-serif;
        }
    .contacto form input:first-child,
    .contacto_internas form input:first-child{
        margin-left: 0;
        }
    .contacto form textarea,
    .contacto_internas form textarea{
        width: 1069px;
        border: 1px solid #d0d0d0;
        margin: 15px 0 15px 0;
        padding: 5px 10px;
        font-size: 14px;
        color: #abaaaa;
        font-family: 'Source Sans Pro', sans-serif;
        }
    .contacto form input.input_submit,
    .contacto_internas form input.input_submit{
        width: auto;
        height: auto;
        display: block;
        text-align: center;
        margin: 5px 0;
        padding: 5px 30px; 
        border: none;
        color: #FFFFFF;
        font-size: 18px;
        text-transform: uppercase;
        font-family: 'Source Sans Pro', sans-serif;
        }    
    .contacto form span,
    .contacto_internas form span{
        text-align: center;
        color: #cbc9c9;
        font-weight: 300;
        font-size:12px;
        display: block;
        } 
        .contacto_internas form span{
            color: #FFFFFF;
            }
        .contacto form input.input_submit{
          background: #ba1c00;
          cursor: pointer;
          position: relative;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          }
            .contacto form input.input_submit:hover{
              background: #612905 !important;
              color: #FFFFFF !important;
              }
        .contacto_internas form input.input_submit{
          background: #ba1c00;
          cursor: pointer;
          position: relative;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          }
            .contacto_internas form input.input_submit:hover{
              background: #FFFFFF !important;
              color: #612905 !important;
              }        
.contacto_internas{
    margin-top: 50px;
    width: 100%;
    background: #612905;
    min-width: 1100px;
    overflow: hidden;
    padding: 25px 0;
    }
    .contacto_internas_content{
        width: 1100px;
        margin: 0 auto;
        }
    .contacto_internas_content h2{
        color: #ffffff;
        margin: 20px 0 5px 0;
        }
        .contacto_internas form input{
            margin-top: 15px;
        }
.contacto_internas form{
    margin: 20px 0;
    overflow: hidden;
    }
.form_agenda input{
    margin-top: 15px;
    }







.proyecto ul{
    margin-top: 70px;
    list-style: none;
}

.proyecto ul li{
    display: block;
    float: left;
    margin-left: 80px;
    width: 313px;
}

.proyecto ul li:first-child{
    margin-left: 0;
}

.proyecto ul li .quotes{
    margin-right: 10px;
}

.proyecto ul li p{
    color: #838181;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .5px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ecebeb;
    position: relative;
}

.proyecto ul li p .triangle{
    display: block;
    width: 10px;
    height: 5px;
    background: url('../img/testimonial_triangle.png') no-repeat;
    position: absolute;
    bottom: -5px;
    left: 40px;
}

.proyecto ul li .client{
    margin-left: 20px;
}

.proyecto ul li .client img.avatar{
    float: left;
    margin-right: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}

.proyecto ul li .client .client_details{
    float: left;
}

.proyecto ul li .client .client_details h4{
    color: #7b7979;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.proyecto ul li .client .client_details h5{
    color: #7b7979;
    font-size: 12px;
    margin: 0;
    font-weight: normal;
}


a.busqueda{
   color: #4e4e4e;
   font-size: 12px;
   text-decoration: none;
   display: block;
   margin-top: 20px;
   font-weight: 600;
   background: url('/img/go.png') 575px -5px no-repeat;
   background-size: 1.5%;
    }
    a.busqueda:hover{
        background: url('/img/go.png') 575px 5px no-repeat;
        background-size: 1.5%;
        color: #ba1c00;
        }




/*    videos   */
.videos_home{
    margin-top: 50px;
    width: 100%;
    background: #35180d;
    min-width: 1100px;
    overflow: hidden;
    }
    .videos_home_content{
        width: 1100px;
        margin: 0 auto;
        }
        .videos_home_content_video{
            width: 550px;
            float: left;
            }
        .videos_home_content section{
            width: 530px;
            padding-left: 20px;
            float:left;
            }
            .videos_home_content section p{
                color: #FFFFFF;
                font-size: 14px;
                line-height: 20px;
            }
            .videos_home_content section h2{
                font-size: 25px;
                color: #FFFFFF;
                text-transform: uppercase;
                margin-top: 25px;
                }
            .videos_home_content section a{
                   color: #ffffff;
                   font-size: 12px;
                   text-decoration: none;
                   display: block;
                   margin-top: 20px;
                   font-weight: 600;
                   background: url('/img/go_participa.png') 46px -9px no-repeat;
                   background-size: 4%;
                    }
                .videos_home_content section a:hover{
                    color: #ba1c00;
                    background: url('/img/go_participa.png') 46px 4px no-repeat;
                    background-size: 4%;
                    }

.videos ul{
    list-style: none;
    margin-top: 40px;
}

.videos ul li{
    display: block;
    width: 326px;
    margin:0 20px 20px 20px;
    float: left;
}

.videos ul li .media .date{
    position: absolute;
    top: 0;
    left: 30px;
    width: 40px;
    padding: 10px 0;
    background: rgba(62, 62, 62, .7);
    text-align: center;
}

.videos ul li .media .date span{
    display: block;
}

.videos ul li .media .date .day{
    font-size: 18px;
    font-weight: bold;

}

.videos ul li .media .date .month{
    color: #fff;
    font-size: 12px;
}

.videos ul li .media{
    width: 230px;
    height: 230px;
    position: relative;
}

.videos ul li p{
    color: #616161;
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    margin: 20px 0 0 0;
    text-align: left;
}
p a.gallery_group{
    display: none;
    }
.grid {
    position: relative;
    /*clear: both;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;*/
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    /*margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;*/
    width: 326px;
    height: auto;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.grid figure img {
    position: relative;
    display: block;
    height: 326px;
    width: 326px;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 40px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 286px;
    height: 326px;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}
/*-----------------*/
/***** Kira *****/
/*-----------------*/

figure.effect-kira {
    background: #fff;
    text-align: left;
}

figure.effect-kira img {
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-kira figcaption {
    z-index: 1;
}

figure.effect-kira p {
    padding: 2.25em 0.5em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
    color: #616161;
    font-size: 16px !important;
    font-weight: normal;
    line-height: 19px !important;
    text-align: left;
    text-transform: none;
    }

/*figure.effect-kira p a {
    margin: 0 0.5em;
    color: #101010;
}

figure.effect-kira p a:hover,
figure.effect-kira p a:focus {
    opacity: 0.6;
}
*/
figure.effect-kira figcaption::before {
    position: absolute;
    top: 0;
    right: 2em;
    left: 2em;
    z-index: -1;
    height: 3.5em;
    background: #fff;
    content: '';
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,4em,0) scale3d(1,0.023,1) ;
    transform: translate3d(0,4em,0) scale3d(1,0.023,1);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

figure.effect-kira:hover img {
    opacity: 0.5;
}

figure.effect-kira:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    color: #616161;
    font-size: 16px !important;
    font-weight: normal;
    line-height: 19px !important;
    text-align: left;
    text-transform: none;
}

figure.effect-kira:hover figcaption::before {
    opacity: 0.7;
    -webkit-transform: translate3d(0,5em,0) scale3d(1,3,1) ;
    transform: translate3d(0,5em,0) scale3d(1,3,1);
}

 
figure.effect-kira p a.multimedia_video{
   color: #ba1c00 !important;
   font-size: 12px !important;
   text-decoration: none !important;
   display: block !important;
   margin-top: 20px !important; 
   font-weight: 600 !important;
   background: url('/img/video_icon.png') 58px 3px no-repeat !important;
   background-size: 5% !important;
   display: block !important;
   text-align: left !important;
   z-index: 2000 !important;
    }
    figure.effect-kira p a.multimedia_video:hover{
    opacity: 0.7;
    }
figure.effect-kira p a.multimedia_galeria{
   color: #ba1c00 !important;
   font-size: 12px !important;
   text-decoration: none !important;
   display: block !important;
   margin-top: 20px !important; 
   font-weight: 600 !important;
   background: url('/img/galeria_icon.png') 70px 1px no-repeat !important;
   background-size: 6% !important;
   display: block !important;
   text-align: left !important;
   z-index: 2000 !important;
    }
    figure.effect-kira p a.multimedia_galeria:hover{
    opacity: 0.7;
    }
figure.effect-kira p a.multimedia_art{
   color: #ba1c00 !important;
   font-size: 12px !important;
   text-decoration: none !important;
   display: block !important;
   margin-top: 20px !important; 
   font-weight: 600 !important;
   background: url('/img/art_icon.png') 74px 3px no-repeat !important;
   background-size: 5% !important;
   display: block !important;
   text-align: left !important;
   z-index: 2000 !important;
    }
    figure.effect-kira p a.multimedia_art:hover{
    opacity: 0.7;
    }
iframe.videos_youtube{
    margin-top: 15px;
    }


/*    footer    */
footer{
    padding: 30px 0 20px 0;
    overflow: hidden;
    min-width: 1100px;
}

footer .rights{
    float: left;
    margin-top: 10px;
}

footer .rights p{
    float: left;
    color: #35180d;
    font-size: 13px;
}
footer ul{
    list-style-type: none;
    float: right;
    }
    footer ul li{
        float: left;
        margin-left: 10px;
        width: 30px;
        height: 30px;
        }
        footer ul a li.fb{
            background: url('/img/fb.jpg') left -31px no-repeat;
            background-size: 100%;
            }
            footer ul a li.fb:hover{
            background: url('/img/fb.jpg') left  0 no-repeat;
            background-size: 100%;
            }
        footer ul a li.tw{
            background: url('/img/tw.jpg') left -30px no-repeat;
            background-size: 100%;
            }
            footer ul a li.tw:hover{
            background: url('/img/tw.jpg') left 0 no-repeat;
            background-size: 100%;
            }
        footer ul a li.gp{
            background: url('/img/gp.jpg') left -30px no-repeat;
            background-size: 100%;
            }
            footer ul a li.gp:hover{
            background: url('/img/gp.jpg') left 0 no-repeat;
            background-size: 100%;
            }
        footer ul a li.yout{
            background: url('/img/yout.jpg') left -31px no-repeat;
            background-size: 100%;
            }
            footer ul a li.yout:hover{
            background: url('/img/yout.jpg') left  0 no-repeat;
            background-size: 100%;
            }
         footer .logos{
            float: left;
            margin-left: 20px;
            }
            footer .logos img{
                margin: 0 30px;
            }
/*footer nav ul{
    float: right;
    overflow: hidden;
    list-style: none;
    margin-top: 5px; 
}

footer nav ul li{
    float: left;
    margin-left: 25px;
}

footer nav ul li a{
    color: #838181;
    font-size: 13px;
    text-decoration: none;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

footer nav ul li a:hover{
    color: #616161;
}*/