{% extends 'MaithJuicioCiudadanoBundle::adminlayout.html.twig' %}

{% block pagestylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithcommonimage/css/maithalbums.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithcommonadmin/css/colorbox.css') }}" />
{% endblock %}
{% block javascripts %}
  <script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/js/jquery.colorbox-min.js') }}"></script>    
  <script type="text/javascript" src="{{ asset('bundles/maithcommonimage/js/imagesManager.js') }}"></script>    
{% endblock %}
  
{% block body -%}
<div class="row">
  <div class="col-lg-8">
    <section class="panel">
      <header class="panel-heading">Actualizar multimedia</header>
      <div class="panel-body">
        <form action="{{ path('admin_multimedia_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} role="form">
		  <input type="hidden" name="_method" value="PUT" />            
          <div class="form-group">
			  {{ form_errors(edit_form.title) }}
              <label for="{{ edit_form.title.vars.id }}">Titulo</label>
			  {{ form_widget(edit_form.title, {'attr' : {'class' : 'form-control'}}) }}
          </div>
          <div class="form-group">
			  {{ form_errors(edit_form.description) }}
              <label for="{{ edit_form.description.vars.id }}">Descripción</label>
			  {{ form_widget(edit_form.description, {'attr' : {'class' : 'form-control'}}) }}
          </div>
          <div class="form-group">
			  {{ form_errors(edit_form.position) }}
              <label for="{{ edit_form.position.vars.id }}">Posición</label>
			  {{ form_widget(edit_form.position, {'attr' : {'class' : 'form-control'}}) }}
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default">Guardar</button>
          </div>	
              {{ form_rest(edit_form) }}
          </form>
          
          {{ render(controller('MaithCommonAdminBundle:Albums:albumsData', {'id': entity.id, 'objectclass' : entity.fullClassName, 'listmode' : false }))}}
        </div>
      </section>
    </div>
    <div class="col-lg-8">
        <a href="{{ path('admin_multimedia') }}" class="btn btn-info">
		  Volver al listado
	  </a>
		<form action="{{ path('admin_multimedia_delete', { 'id': entity.id }) }}" method="post" onsubmit="return confirmDeleteDialog();" style="float: right;">
		  <input type="hidden" name="_method" value="DELETE" />
			{{ form_widget(delete_form) }}
		  <button class="btn btn-danger" type="submit">Eliminar</button>
		</form>
	</div>	
</div>
{% endblock %}