{% extends 'MaithJuicioCiudadanoBundle::adminlayout.html.twig' %}

{% block body -%}
<div class="row">
  <div class="col-lg-8">
    <section class="panel">
      <header class="panel-heading">Crear nuevo link de interes</header>
      <div class="panel-body">
        <form action="{{ path('admin_links_create') }}" method="post" {{ form_enctype(form) }} role="form">
          <div class="form-group">
			  {{ form_errors(form.title) }}
              <label for="{{ form.title.vars.id }}">Titulo</label>
			  {{ form_widget(form.title, {'attr' : {'class' : 'form-control'}}) }}
          </div>
          <div class="form-group">
			  {{ form_errors(form.description) }}
              <label for="{{ form.description.vars.id }}">Descripción</label>
			  {{ form_widget(form.description, {'attr' : {'class' : 'form-control'}}) }}
          </div>
          <div class="form-group">
			  {{ form_errors(form.link) }}
              <label for="{{ form.link.vars.id }}">Enlace</label>
			  {{ form_widget(form.link, {'attr' : {'class' : 'form-control'}}) }}
          </div>
		  <div class="form-group">
			  {{ form_errors(form.position) }}
              <label for="{{ form.position.vars.id }}">Posición</label>
			  {{ form_widget(form.position, {'attr' : {'class' : 'form-control'}}) }}
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default">Guardar</button>
          </div>	
              {{ form_rest(form) }}
          </form>
        </div>
      </section>
    </div>
    <div class="col-lg-12 text-center">
	  <a href="{{ path('admin_links') }}" class="btn btn-info">
		  Volver al listado
	  </a>
	</div>
</div>
{% endblock %}