{% extends 'MaithJuicioCiudadanoBundle::adminlayout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/maithjuiciociudadano/admin/tinymce/tinymce.min.js') }}"></script>
<script src="{{ asset('bundles/maithjuiciociudadano/admin/js/basicstarttinymce.js') }}"></script>
{% endblock %}

{% block body -%}
<div class="row">
  <div class="col-lg-8">
    <section class="panel">
      <header class="panel-heading">Crear resultado</header>
      <div class="panel-body">
        <form action="{{ path('admin_resultados_create') }}" method="post" {{ form_enctype(form) }} role="form">
          <div class="form-group">
			  {{ form_errors(form.title) }}
              <label for="{{ form.title.vars.id }}">Titulo</label>
			  {{ form_widget(form.title, {'attr' : {'class' : 'form-control'}}) }}
          </div>
          <div class="form-group">
			  {{ form_errors(form.preface) }}
              <label for="{{ form.preface.vars.id }}">Copete</label>
			  {{ form_widget(form.preface, {'attr' : {'class' : 'form-control'}}) }}
          </div>            
          <div class="form-group">
			  {{ form_errors(form.body) }}
              <label for="{{ form.body.vars.id }}">Cuerpo</label>
			  {{ form_widget(form.body, {'attr' : {'class' : 'form-control'}}) }}
          </div>
		  <div class="form-group">
			  {{ form_errors(form.position) }}
              <label for="{{ form.position.vars.id }}">Posición</label>
			  {{ form_widget(form.position, {'attr' : {'class' : 'form-control'}}) }}
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default">Guardar</button>
          </div>	
              {{ form_rest(form) }}
          </form>
        </div>
      </section>
    </div>
    <div class="col-lg-12 text-center">
	  <a href="{{ path('admin_resultados') }}" class="btn btn-info">
		  Volver al listado
	  </a>
	</div>
</div>
{% endblock %}
