{% extends 'MaithJuicioCiudadanoBundle::adminlayout.html.twig' %}

{% block pagestylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/maithjuiciociudadano/admin/vendor/chosen/chosen.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/maithjuiciociudadano/admin/vendor/datatables/jquery.dataTables.css') }}">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/maithjuiciociudadano/admin/vendor/chosen/chosen.jquery.min.js') }}"></script>
<script src="{{ asset('bundles/maithjuiciociudadano/admin/vendor/datatables/jquery.dataTables.js') }}"></script>
<script src="{{ asset('bundles/maithjuiciociudadano/admin/js/datatables.js') }}"></script>
{% endblock %}

{% block body -%}

<section class="panel">
  <header class="panel-heading">Noticias</header>
  <div class="panel-body">
	<div class="table-responsive no-border">
	  <table class="table table-bordered table-striped mg-t datatable">
		<thead>
		  <tr>
			<th>Posición</th>
			<th>Titulo</th>
			<th>Copete</th>
			<th>Creado</th>
			<th>Acciones</th>
		  </tr>
		</thead>
		<tfoot>
		  <tr>
            <th>Posición</th>
			<th>Titulo</th>
			<th>Copete</th>
			<th>Creado</th>
			<th>Acciones</th>
		  </tr>
		</tfoot>
		<tbody>
		{% for entity in entities %}
			<tr>
			    <td>{{ entity.position }}</td>
			    <td>{{ entity.title }}</td>
			    <td>{{ entity.preface }}</td>
			    <td>{% if entity.created %}{{ entity.created|date('d/m/Y') }}{% endif %}</td>
			  <td>
				  <a href="{{ path('admin_article_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil-square-o fa-2x"></i></a>
			  </td>
			</tr>
        {% endfor %}		  
		  </tbody>
		</table>
	  </div>
	</div>
  </section>
  

<div class="row">
  <div class="col-lg-12 text-center">
	  <a href="{{ path('admin_article_new') }}" class="btn btn-info">
		  Crear nuevo
	  </a>
  </div>
</div>
{% endblock %}
