{% block liip_search_content %}
    {% block liip_search_title %}
        <section class="wrapper internas">
          <div class="internas_content">
            <img src="{{ asset('bundles/maithjuiciociudadano/img/busqueda.png') }}" alt="" class="animated wow fadeInDown"/>
          </div>    
          <div class="title animated wow fadeIn">
            <h1>Buscar</h1>
          </div>
        </section><!--  End participa  -->    
    {% endblock %}

    {% block liip_search_script %}
        <script type="application/javascript">
            (function() {
                var cx = '{{ options.google_custom_search_id[app.request.locale]|default(options.google_custom_search_id|first) }}';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//www.google.com/cse/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
        </script>
    {% endblock %}

    {% block liip_search_results %}
        <gcse:search queryParameterName="{{ query_param_name }}" noResultsString="{{ 'search_noresults'|trans({}, 'LiipSearchBundle')|escape('html') }}"></gcse:search>
    {% endblock %}
{% endblock %}
