<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>¿Que Desarrollo en Uruguay?</title>
</head>
<body>
	<table cellpadding="0" cellspacing="0" style="width:800px; margin:25px;">
    	<tr>
        	<td style="width:800px">
              <img src="{{ app.request.scheme ~  '://' ~  app.request.host ~ ':' ~  app.request.port ~ asset('bundles/maithjuiciociudadano/img/logo_mail.jpg') }}" />
            </td>
        </tr>
        <tr>
        	<td style="height:30px; padding:15px 0; font-size:14px; font-weight:bold;text-transform:uppercase; font-family:Lucida Grande, Lucida Sans Unicode, sans-serif; color:#35180d;">Contacto</td>
        </tr>
       <tr>
        	<td style="font-size:12px; padding:5px 0 5px 0; font-family:Lucida Grande, Lucida Sans Unicode, sans-serif; color:#1a171b; font-weight:bold; text-align:left">Nombre:<span style="font-size:12px; padding:5px 0 5px 10px; font-family:Lucida Grande, Lucida Sans Unicode, sans-serif; color:#1a171b; text-align:left; font-weight:normal;">{{ agenda.nombre }}</span></td>
        </tr>    
       <tr>
          <td style="font-size:12px; padding:5px 0 5px 0; font-family:Lucida Grande, Lucida Sans Unicode, sans-serif; color:#1a171b; font-weight:bold; text-align:left">Apellido:<span style="font-size:12px; padding:5px 0 5px 10px; font-family:Lucida Grande, Lucida Sans Unicode, sans-serif; color:#1a171b; text-align:left; font-weight:normal;">{{ agenda.apellido }}</span></td>
        </tr>        
       <tr>
        	<td style="font-size:12px; padding:5px 0 5px 0; font-family:Lucida Grande, Lucida Sans Unicode, sans-serif; color:#1a171b; font-weight:bold; text-align:left">Mail:<span style="font-size:12px; padding:5px 0 5px 10px; font-family:Lucida Grande, Lucida Sans Unicode, sans-serif; color:#1a171b; text-align:left; font-weight:normal;">{{ agenda.email }}</span></td>
        </tr>
       <tr>
          <td style="font-size:12px; padding:5px 0 5px 0; font-family:Lucida Grande, Lucida Sans Unicode, sans-serif; color:#1a171b; font-weight:bold; text-align:left">Edad:<span style="font-size:12px; padding:5px 0 5px 10px; font-family:Lucida Grande, Lucida Sans Unicode, sans-serif; color:#1a171b; text-align:left; font-weight:normal;">{{ agenda.edad }}</span></td>
        </tr>
       <tr>
          <td style="font-size:12px; padding:5px 0 5px 0; font-family:Lucida Grande, Lucida Sans Unicode, sans-serif; color:#1a171b; font-weight:bold; text-align:left">Departamento:<span style="font-size:12px; padding:5px 0 5px 10px; font-family:Lucida Grande, Lucida Sans Unicode, sans-serif; color:#1a171b; text-align:left; font-weight:normal;">{{ agenda.departamento }}</span></td>
        </tr>
       <tr>
          <td style="font-size:12px; padding:5px 0 5px 0; font-family:Lucida Grande, Lucida Sans Unicode, sans-serif; color:#1a171b; font-weight:bold; text-align:left">Cuidad:<span style="font-size:12px; padding:5px 0 5px 10px; font-family:Lucida Grande, Lucida Sans Unicode, sans-serif; color:#1a171b; text-align:left; font-weight:normal;">{{ agenda.ciudad }}</span></td>
        </tr>
       <tr>
        	<td style="font-size:12px; padding:5px 0 5px 0; font-family:Lucida Grande, Lucida Sans Unicode, sans-serif; color:#1a171b; font-weight:bold; text-align:left">Mensaje:<span style="font-size:12px; padding:5px 0 5px 10px; font-family:Lucida Grande, Lucida Sans Unicode, sans-serif; color:#1a171b; text-align:left; font-weight:normal;">{{ agenda.mensaje }}</span></td>
        </tr>
    </table>
</body>
</html>