{% extends 'MaithJuicioCiudadanoBundle::layout.html.twig' %}

{% block body %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=217995625048564&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>  
<section class="wrapper internas">
  <div class="internas_content">
    <img src="{{ asset('bundles/maithjuiciociudadano/img/agenda.png') }}" alt="" class="animated wow fadeInDown"/>
  </div>	
  <div class="title animated wow fadeIn">
    <h1>{% trans %}agenda_titulo{% endtrans %}</h1>
  </div>
</section><!--  End participa  -->

<div class="title animated wow fadeIn">
  <hr class="separator"/>
  <div class="redes_share">
    <div class="fb-like" data-href="{{app.request.uri}}" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
    <div class="fb-share-button" data-href="{{app.request.uri}}" data-layout="button"></div>
    <a class="twitter-share-button" href="https://twitter.com/share" data-count="none" ></a>
    <div class="g-plus" data-action="share" data-annotation="none"></div>
  </div>
</div>  
<section class="internas wrapper" id="section-about">
    {% trans %}agenda_texto{% endtrans %}
    <div class="title animated wow fadeIn">
        <hr class="separator" style="margin-top:20px;"/>
    </div>
</section><!--  End proyecto  -->

<section class="contacto wrapper" id="section-about" style="margin-top: 0;">
  <div class="title animated wow fadeIn">
      <h2>{% trans %}agenda_cuestionario_titulo{% endtrans %}</h2>
  </div>
  {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                <h5>{{ flash }}</h5>
            </div>
        {% endfor %}
    {% endfor %}
  <form class="form_agenda" method='post' action='{{ path("agenda") }}'>
      {{ form_widget(form.mensaje, {'attr' : {'placeholder' : 'agenda_mensaje' | trans }}) }}
      {{ form_widget(form.nombre, {'attr' : {'placeholder' : 'agenda_nombre' | trans, 'style' : 'margin-left: 0' }}) }}
      {{ form_widget(form.apellido, {'attr' : {'placeholder' : 'agenda_apellido' | trans}}) }}
      {{ form_widget(form.email, {'attr' : {'placeholder' : 'agenda_mail' | trans , 'style' : 'margin-left: 0' }}) }}
      {{ form_widget(form.edad, {'attr' : {'placeholder' : 'agenda_edad' | trans }}) }}
      {{ form_widget(form.departamento, {'attr' : {'placeholder' : 'agenda_departamento' | trans  , 'style' : 'margin-left: 0; margin-bottom:15px' }}) }}
      {{ form_widget(form.ciudad, {'attr' : {'placeholder' : 'agenda_ciudad' | trans , 'style' : 'margin-bottom:15px' }}) }}
      {{ form_rest(form) }}
      <span><sub>*</sub>{% trans %}agenda_campos_obligatorios{% endtrans %}</span>
      <input type="submit" class="input_submit" value="{% trans %}agenda_enviar{% endtrans %}" style="margin-left:495px;">
  </form>
  <div class="clear"></div>
  <div class="title animated wow fadeIn">
      <hr class="separator" style="margin-top:20px;"/>
  </div>
</section><!--  End contacto  -->
{% endblock %}

