<section class="contacto wrapper" id="section-about">
    <div class="title animated wow fadeIn">
        <h2>{% trans %}contacto_titulo{% endtrans %}</h2>
        <hr class="separator"/>
    </div>
    <form method="POST" action="{{ path('sendcontact') }}" onsubmit="return sendConcatForm(this)" id="contact_form">
        {{ form_widget(form.name, {'attr' : {'placeholder' : 'contacto_nombre' | trans }}) }}
        {{ form_widget(form.email, {'attr' : {'placeholder' : 'contacto_email' | trans }}) }}
        {{ form_widget(form.message, {'attr' : {'placeholder' : 'contacto_message' | trans }}) }}
        {{ form_rest(form) }}
        <span><sub>*</sub>{% trans %}contacto_campos_obligatorios{% endtrans %}</span>
        <input id='submit_contact_input' type="submit" class="input_submit" value="{% trans %}contacto_enviar{% endtrans %}" style="margin-left:495px;">
    </form>
    <div class="clear"></div>
    <div class="title animated wow fadeIn">
        <hr class="separator" style="margin-top:20px;"/>
    </div>
</section><!--  End contacto  -->  
