{% extends 'MaithJuicioCiudadanoBundle::layout.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithjuiciociudadano/css/flexslider.css') }}">
{% endblock %}
  
{% block javascripts %}
  <script type="text/javascript" src="{{ asset('bundles/maithjuiciociudadano/js/jquery.flexslider-min.js') }}"></script>
  <script type="text/javascript">
    
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
{% endblock %}
{% block body %}
<section class="billboard light">
  <div class="caption light animated wow fadeInDown clearfix">
    <section class="slider">
      <div class="flexslider">
        <ul class="slides">
          {% if files | length > 0 %}
            {% for file in files%}
            <li>
              <img alt="{{ file.fileName }}" src="{{ file.pathName | mImage(1880, 811, 'mpt') }}" class="img-responsive" />
            </li>
            {% endfor %}
          {% else %}
            <li>
              <img src="{{ asset('bundles/maithjuiciociudadano/img/billboard2.jpg') }}">
             </li>
          {% endif %}
        </ul>
      </div>
    </section>
  </div>
  <div class="shadow"></div>
</section><!--  End slider  -->

<section class="bloque_top wrapper">
    <ul class="clearfix">
        <li class="animated wow fadeInDown">
            <span class="separator"></span>
            <h2>{% trans %}deliberaciondesarrollo_titulo{% endtrans %}</h2>
            <p>{% trans %}deliberaciondesarrollo_inicio_texto{% endtrans %}</p>
            <a href="{{ path('deliberacion') }}">ver más</a>
        </li>
        <li class="animated wow fadeInDown"  data-wow-delay=".2s">
            <span class="separator"></span>
            <h2>{% trans %}metodologia_delphi_titulo{% endtrans %}</h2>
            <p>{% trans %}metodologia_delphi_inicio_texto{% endtrans %}</p>
            <a href="{{ path('metodologiadelphi') }}">ver más</a>
        </li>
        <li class="animated wow fadeInDown"  data-wow-delay=".4s">
            <span class="separator"></span>
            <h2>{% trans %}metodologia_dialogos_titulo{% endtrans %}</h2>
            <p>{% trans %}metodologia_dialogos_inicio_texto{% endtrans %}</p>
            <a href="{{ path('metodologiadialogos') }}">ver más</a>			
        </li>
        <li class="animated wow fadeInDown"  data-wow-delay=".6s">
            <span class="separator"></span>
            <h2>{% trans %}metodologia_focales_titulo{% endtrans %}</h2>
            <p>{% trans %}metodologia_focales_inicio_texto{% endtrans %}</p>
            <a href="{{ path('metodologiafocales') }}">ver más</a>			
        </li>
    </ul>
</section><!--  End bloque_top  -->

<section class="wrapper">
    <div class="bullet_vertical">
        <img src="{{ asset('bundles/maithjuiciociudadano/img/bullet_vertical.png') }}">
    </div>
</section>

<section class="wrapper participa">
    <div class="participa_content">
        <img src="{{ asset('bundles/maithjuiciociudadano/img/novedades.png') }}" alt="" class="animated wow fadeInDown"/>

    <ul class="clearfix">
        <li class="animated wow fadeInDown">
            <h2>{% trans %}inicio_noticia1_titulo{% endtrans %}</h2>
            <p>{% trans %}inicio_noticia1_texto{% endtrans %}</p>
            <a href="{% trans %}inicio_noticia1_url{% endtrans %}">{% trans %}inicio_noticia_ver_mas{% endtrans %}</a>
        </li>
        <li class="animated wow fadeInDown"  data-wow-delay=".2s">
            <h2>{% trans %}inicio_noticia2_titulo{% endtrans %}</h2>
            <p>{% trans %}inicio_noticia2_texto{% endtrans %}</p>
            <a href="{% trans %}inicio_noticia2_url{% endtrans %}">{% trans %}inicio_noticia_ver_mas{% endtrans %}</a>
        </li>
        <li class="animated wow fadeInDown"  data-wow-delay=".4s">
            <h2>{% trans %}inicio_noticia3_titulo{% endtrans %}</h2>
            <p>{% trans %}inicio_noticia3_texto{% endtrans %}</p>
            <a href="{% trans %}inicio_noticia3_url{% endtrans %}">{% trans %}inicio_noticia_ver_mas{% endtrans %}</a>			
        </li>
    </ul>	
</div>	
</section><!--  End participa  -->

<section class="wrapper">
    <div class="bullet_vertical bullet_vertical_down">
        <img src="{{ asset('bundles/maithjuiciociudadano/img/bullet_vertical.png') }}">
    </div>
</section>

<section class="proyecto wrapper" id="section-about">
    <div class="title animated wow fadeIn">
        <h2>{% trans %}inicio_proyecto_titulo{% endtrans %}</h2>
        <h3>{% trans %}inicio_proyecto_subtitulo{% endtrans %}</h3>
        <hr class="separator"/>
    </div>
    <p>{% trans %}proyecto_inicio_texto{% endtrans %}</p>
    <a href="{{ path('antecedentes') }}">{% trans %}inicio_proyecto_ver_mas{% endtrans %}</a>		
    <div class="title animated wow fadeIn">
        <hr class="separator" style="margin-top:20px;"/>
    </div>
</section><!--  End proyecto  -->
{% if not multimedia is null %}
<section class="videos_home">
    <div class="wrapper">
        <div class="videos_home_content">
            <div class="videos_home_content_video">
              
              
              <img src="{{ multimedia.id | mAvatar(multimedia.fullClassName, 'avatar') | mImage(550, 311, 'rce') }}">
            </div>
            <section>
                <h2>{{ multimedia.title }}</h2>
                <p>{{ multimedia.description }}</p>
                <a href="{{ path('multimedia') }}">{% trans %}inicio_multimedia_ver_mas{% endtrans %}</a>	
            </section>
        </div>
    </div>
</section><!--  End videos  -->
{% endif %}
{% endblock %}
