{% extends 'MaithJuicioCiudadanoBundle::layout.html.twig' %}
{% block javascripts %}
  <script src="{{ asset('bundles/maithjuiciociudadano/js/jquery.colorbox.js') }}"></script>
  <script src="{{ asset('bundles/maithjuiciociudadano/js/multimedia.js') }}"></script>
  
{% endblock %}


{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('bundles/maithjuiciociudadano/css/colorbox.css') }}" />
{% endblock %}

{% block body %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=217995625048564&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
<section class="wrapper internas">
  <div class="internas_content">
    <img src="{{ asset('bundles/maithjuiciociudadano/img/enfoque.png') }}" alt="" class="animated wow fadeInDown"/>
  </div>	
  <div class="title animated wow fadeIn">
    <h1>{% trans %}metodologia_titulo{% endtrans %}</h1>
  </div>
</section><!--  End participa  -->

<div class="title animated wow fadeIn">
  <hr class="separator"/>
  <div class="redes_share">
    <div class="fb-like" data-href="{{app.request.uri}}" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
    <div class="fb-share-button" data-href="{{app.request.uri}}" data-layout="button"></div>
    <a class="twitter-share-button" href="https://twitter.com/share" data-count="none" ></a>
    <div class="g-plus" data-action="share" data-annotation="none"></div>
  </div>
</div>  
<section class="internas wrapper" id="section-about">
    {% trans %}metodologia_texto{% endtrans %}
    <div class="title animated wow fadeIn">
        <hr class="separator" style="margin-top:20px;"/>
    </div>
</section><!--  End proyecto  -->
    
{% endblock %}

