{% extends 'MaithJuicioCiudadanoBundle::layout.html.twig' %}
{% block javascripts %}
  <script src="{{ asset('bundles/maithjuiciociudadano/js/jquery.colorbox.js') }}"></script>
  <script src="{{ asset('bundles/maithjuiciociudadano/js/multimedia.js') }}"></script>
  
{% endblock %}


{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('bundles/maithjuiciociudadano/css/colorbox.css') }}" />
{% endblock %}

{% block body %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=217995625048564&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>  
<section class="wrapper internas">
  <div class="internas_content">
    <img src="{{ asset('bundles/maithjuiciociudadano/img/biblioteca.png') }}" alt="" class="animated wow fadeInDown"/>
  </div>	
  <div class="title animated wow fadeIn">
    <h1>{% trans %}multimedia_titulo{% endtrans %}</h1>
  </div>
</section><!--  End participa  -->

<div class="title animated wow fadeIn">
  <hr class="separator"/>
</div>  
<section class="videos">
  <div class="wrapper">
    <div class="title animated wow fadeIn">
      <hr class="separator"/>
      <div class="redes_share">
        <div class="fb-like" data-href="{{app.request.uri}}" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
        <div class="fb-share-button" data-href="{{app.request.uri}}" data-layout="button"></div>
        <a class="twitter-share-button" href="https://twitter.com/share" data-count="none" ></a>
        <div class="g-plus" data-action="share" data-annotation="none"></div>
      </div>
    </div>

    <ul class="clearfix">
      {% for data in multimedia %}
			<li class="animated wow fadeInDown grid" data-wow-delay=".{{ loop.index0 * 2}}s">
              <figure class="effect-kira">
                {%if avatarData[data.id] is defined %}
                  <img src='{{ avatarData[data.id].fullPath | mImage(480, 360, 'rce') }}' />
                {% else %}
                  <img src="{{ asset('bundles/maithjuiciociudadano/img/2.jpg') }}" alt="img05"/>
                {% endif %}
                <figcaption>
                  <h2>{{ data.title }}</h2>
                  <p>
                    {{ data.description }}
                    {%if galleryData[data.id] is defined %}
                        <input type='hidden' value='{{ data.id }}' id='hgallery_{{ data.id }}' class="has_gallery" />
                        {% for image in galleryData[data.id] %}
                          {% if loop.first %}
                            {% if image.type == 'youtube' or  image.type == 'vimeo' %}
                              <a href="{{ image.onlineVideoPlayer }}" rel="gall{{ data.id }}" class="gallery_group gallery_rel_{{ data.id }} video_{{ data.id }} multimedia_video">ver m&aacute;s</a>
                            {% else %}
                              {% if image.isImage %}
                              <a href="{{ image.fullPath | mImage(480, 360, 'd') }}" rel="gall{{ data.id }}" class="gallery_rel_{{ data.id }} multimedia_video" title="{{ image.showName }}">ver m&aacute;s</a>
                              {% else %}
                              <a href="{{ asset('bundles/maithcommonadmin/images/' ~ image.knownFileExtension ~ '.png') }}" rel="gall{{ data.id }}" class="gallery_rel_{{ data.id }} multimedia_video" title="nombre foto {{ image.showName }}">ver m&aacute;s</a>
                              {% endif %}
                              
                            {% endif %}
                          {% else %}
                              {% if image.type == 'youtube' or  image.type == 'vimeo' %}
                                <a href="{{ image.onlineVideoPlayer }}" class="gallery_group gallery_rel_{{ data.id }} video_{{ data.id }}"></a>
                              {% else %}
                                  {% if image.isImage %}
                                  <a href="{{ image.fullPath | mImage(480, 360, 'd') }}" class="gallery_group gallery_rel_{{ data.id }}" title="{{ image.showName }}"></a>
                                  {% else %}
                                  <a href="{{ asset('bundles/maithcommonadmin/images/' ~ image.knownFileExtension ~ '.png') }}" class="gallery_group gallery_rel_{{ data.id }}"></a>
                                  {% endif %}
                              {% endif %}
                          {% endif %}
                        {% endfor %}
                    {% endif %}
                    {#
                    <a href="http://www.youtube.com/embed/VOJyrQa_WR4?rel=0&amp;wmode=transparent" class="youtube multimedia_video" data-wow-duration="2s">ver video</a>
                    #}
                  </p>							
                </figcaption>	
              </figure>
            </li>
      {% endfor %}
    </ul>
  </div>
  <div class="title animated wow fadeIn">
    <hr class="separator" style="margin-top:20px;"/>
  </div>
</section> <!-- videos End videos  -->

<section class="internas wrapper" id="section-about">
    <div class="paginacion">
    {% if page > 0 %}
        {% if page -1 == 0 %}
          <a href='{{ path('multimedia') }}'>< Anterior</a>
        {% else %}
        <a href='{{ path('multimediapager', {'page' : page - 1 }) }}'>< Anterior</a>
        {% endif %}
        |
    {% endif %}
    {% if multimedia | length > 0  and multimedia | length == rowperpage %}
        <a href='{{ path('multimediapager', {'page' : page + 1 }) }}'>Siguiente ></a>
    {% endif %}  
    </div>
</section>
{% endblock %}

