{% extends 'MaithJuicioCiudadanoBundle::layout.html.twig' %}
{% block body %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=217995625048564&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
<section class="wrapper internas">
  <div class="internas_content">
    <img src="{{ asset('bundles/maithjuiciociudadano/img/novedades_int.png') }}" alt="" class="animated wow fadeInDown"/>
  </div>	
  <div class="title animated wow fadeIn">
    <h1>{% trans %}novedades_titulo{% endtrans %}</h1>
  </div>
</section><!--  End participa  -->

<section class="wrapper">
  <div class="bullet_vertical bullet_vertical_down">
      <img src="{{ asset('bundles/maithjuiciociudadano/img/bullet_vertical.png') }}">
  </div>
</section>

<section class="internas wrapper" id="section-about">
    <div class="title animated wow fadeIn">
        <h2>{{ article.title }}</h2>
        <hr class="separator"/>
        <div class="redes_share">
          <div class="fb-like" data-href="{{app.request.uri}}" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
          <div class="fb-share-button" data-href="{{app.request.uri}}" data-layout="button"></div>
          <a class="twitter-share-button" href="https://twitter.com/share" data-count="none" ></a>
          <div class="g-plus" data-action="share" data-annotation="none"></div>
        </div>
    </div>
    {{ article.body | raw }}
    {% if album is not null %}
        {% for image in album.files %}
        <div class="{% if not (image.type == 'youtube') and not (image.type == 'vimeo') and not image.isImage %} download_div {% endif %}">
          {% if image.type == 'youtube' or  image.type == 'vimeo' %}
            <div class="videos_youtube">
            {{ image.onlineVideoIframe | raw }}
            </div>
          {% else %}  
            {% if image.isImage %}
            <img src='{{ image.fullPath | mImage(792, 465, 'rce') }}' class="img-responsive" />
            {% else %}
            <img src="{{ asset('bundles/maithcommonadmin/images/' ~ image.knownFileExtension ~ '.png') }}"  alt="{{ image.showName }}" class="download_image"/>
            <a href="{{ path('textodownload', {'id' : image.id}) }}" class="download_link">Descargar material completo</a>
            {% endif %}
          {% endif %}
        </div>
        {% endfor %}
    {% endif %}
    {#
    <iframe width="640" height="480" src="https://www.youtube.com/embed/WuoYSPGr08c" frameborder="0" allowfullscreen class="videos_youtube"></iframe>
    #}
    <div class="title animated wow fadeIn">
        <hr class="separator" style="margin-top:20px;"/>
    </div>
</section><!--  End textos  -->
{% endblock %}
