{% extends 'MaithJuicioCiudadanoBundle::layout.html.twig' %}
{% block body %}

<section class="wrapper internas">
  <div class="internas_content">
    <img src="{{ asset('bundles/maithjuiciociudadano/img/novedades_int.png') }}" alt="" class="animated wow fadeInDown"/>
  </div>	
  <div class="title animated wow fadeIn">
    <h1>{% trans %}novedades_titulo{% endtrans %}</h1>
  </div>
</section><!--  End participa  -->

<div class="title animated wow fadeIn">
  <hr class="separator"/>
</div>  
<section class="bloque_top internas wrapper" style="margin-top:0;">
    <ul class="clearfix">
        {% for article in articles %}
        <li class="animated wow fadeInDown" data-wow-delay=".{{ loop.index0 * 2}}s">
            <span class="separator"></span>
            <h2>{{ article.title }}</h2>
            <p>{{ article.preface }}</p>
            <a href="{{ path('novedad', { 'id' : article.id, 'slug' : article.slug }) }}">{% trans %}novedades_ver_mas{% endtrans %}</a>
        </li>
        {% endfor %}
    </ul>

    <div class="title animated wow fadeIn">
        <hr class="separator" style="margin-top:20px;"/>
    </div>
</section><!--  End text  -->
<section class="internas wrapper" id="section-about">
    <div class="paginacion">
    {% if page > 0 %}
        {% if page -1 == 0 %}
          <a href='{{ path('novedades') }}'>< Anterior</a>
        {% else %}
        <a href='{{ path('novedadespager', {'page' : page - 1 }) }}'>< Anterior</a>
        {% endif %}
        |
    {% endif %}
    {% if articles | length > 0  and articles | length == rowperpage %}
        <a href='{{ path('novedadespager', {'page' : page + 1 }) }}'>Siguiente ></a>
    {% endif %}  
    </div>
</section>
{% endblock %}