{% extends 'MaithJuicioCiudadanoBundle::layout.html.twig' %}
{% block body %}
<section class="wrapper internas">
    <div class="internas_content">
        <img src="{{ asset('bundles/maithjuiciociudadano/img/proyecto.png') }}" alt="" class="animated wow fadeInDown"/>
    </div>	
    <div class="title animated wow fadeIn">
    <h1>{% trans %}resultados_titulo{% endtrans %}</h1>
    </div>
</section><!--  End participa  -->

<section class="wrapper">
    <div class="bullet_vertical bullet_vertical_down">
        <img src="{{ asset('bundles/maithjuiciociudadano/img/bullet_vertical.png') }}">
    </div>
</section>

{% for resultado in resultados %}
<section class="internas wrapper" id="section-about">
    <div class="title animated wow fadeIn">
        <h2>{{ resultado.title }}</h2>
        <hr class="separator"/>
    </div>
    {{ resultado.preface | raw }}
    <a href="{{ path('resultado', { 'id' : resultado.id, 'slug' : resultado.slug }) }}" class="busqueda">{% trans %}resultados_ver_mas{% endtrans %}</a>
    <div class="title animated wow fadeIn">
        <hr class="separator" style="margin-top:20px;"/>
    </div>
</section><!--  End resultados  -->
{% endfor %}

<section class="internas wrapper" id="section-about">
    <div class="paginacion">
    {% if page > 0 %}
        {% if page -1 == 0 %}
          <a href='{{ path('resultados') }}'>< Anterior</a>
        {% else %}
        <a href='{{ path('resultadospager', {'page' : page - 1 }) }}'>< Anterior</a>
        {% endif %}
        |
    {% endif %}
    {% if articles | length > 0  and articles | length == rowperpage %}
        <a href='{{ path('resultadospager', {'page' : page + 1 }) }}'>Siguiente ></a>
    {% endif %}  
    </div>
</section>
{% endblock %}