{% extends 'MaithJuicioCiudadanoBundle::layout.html.twig' %}
{% block body %}
<section class="wrapper internas">
  <div class="internas_content">
    <img src="{{ asset('bundles/maithjuiciociudadano/img/busqueda.png') }}" alt="" class="animated wow fadeInDown"/>
  </div>	
  <div class="title animated wow fadeIn">
    <h1>{% trans %}busqueda_titulo{% endtrans %}{{ search }}</h1>
  </div>
</section><!--  End participa  -->

<section class="wrapper">
  <div class="bullet_vertical bullet_vertical_down">
    <img src="{{ asset('bundles/maithjuiciociudadano/img/bullet_vertical.png') }}">
  </div>
</section>

{% if error %}
  <h2>{{ message }}</h2>
{% endif %}

{% if textoNovedades | length == 0 and links | length == 0 and resultados | length == 0 %}
  <h2>No hay resultados para la busqueda</h2>
{% endif %}
{% for textoNovedad in textoNovedades %}
<section class="internas wrapper" id="section-about">
  <div class="title animated wow fadeIn">
    <h4>{{ textoNovedad.title }}</h4>
    <hr class="separator"/>
  </div>
  <p>{{ textoNovedad.preface }}</p>
  {% if textoNovedad.category.id == 2 %}
    <a href="{{ path('texto', { 'id' : textoNovedad.id, 'slug' : textoNovedad.slug }) }}" class="busqueda">ver más</a>
  {% else %}
    <a href="{{ path('novedad', { 'id' : textoNovedad.id, 'slug' : textoNovedad.slug }) }}" class="busqueda">ver más</a>
  {% endif %}
  <div class="title animated wow fadeIn">
    <hr class="separator" style="margin-top:20px;"/>
  </div>
</section><!--  End resultados  -->
{% endfor %}
{% for link in links %}
<section class="internas wrapper" id="section-about">
  <div class="title animated wow fadeIn">
    <h4>{{ link.title }}</h4>
    <hr class="separator"/>
  </div>
  <p>{{ link.description }}</p>
  <a href="{{ link.link }}" target='_blank' class="busqueda">ver más</a>
  <div class="title animated wow fadeIn">
    <hr class="separator" style="margin-top:20px;"/>
  </div>
</section><!--  End resultados  -->
{% endfor %}

{% for resultado in resultados %}
<section class="internas wrapper" id="section-about">
  <div class="title animated wow fadeIn">
    <h4>{{ resultado.title }}</h4>
    <hr class="separator"/>
  </div>
  <p>{{ resultado.preface | raw }}</p>
  <a href="{{ path('resultado', { 'id' : resultado.id, 'slug' : resultado.slug }) }}" class="busqueda">ver más</a>
  <div class="title animated wow fadeIn">
    <hr class="separator" style="margin-top:20px;"/>
  </div>
</section><!--  End resultados  -->
{% endfor %}

{% endblock %}

