<form action="{{ path('dosearch')}}" method="GET">
  <div class="div_search">
    <input type="text" name="s"  placeholder="{% trans %}menu_buscar{% endtrans %}" id="search" required="" />
    <input type="submit" class="input_submit" value="" />
  </div>
</form>