<a href="javascript:void(0)" class="{% if (activemenu is defined) and activemenu == 'textos' %}current{%endif%}" ><span>{% trans %}menu_textos{% endtrans %}</span></a>
<ul>
  <li>
    <a href="{{ path('textos') }}"><span>{% trans %}menu_textos_todos{% endtrans %}</span></a>
  </li>
  {% for category in categories %}
  <li>
    <a href="{{ path('textoscategoria', {'id' : category.id, 'slug' : category.slug }) }}"><span>{{ category.name }}</span></a>
  </li>
  {% endfor %}
</ul>