<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block pagetitle %}¿Qué desarrollo en Uruguay?{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="description" content=""/>

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithjuiciociudadano/css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithjuiciociudadano/css/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithjuiciociudadano/css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithjuiciociudadano/css/submenu.css') }}">
    

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>	
    <link rel="shortcut icon" href="{{ asset('bundles/maithjuiciociudadano/img/favicon.ico') }}" />

    <!-- template styles -->
	{% block stylesheets %}{% endblock %}

  </head>
  <body>
    <header class="wrapper light" style="width:100%">
      <div class="menu">
        <a href="{{ path('maith_juicio_ciudadano_homepage')}}"><img class="logo" src="{{ asset('bundles/maithjuiciociudadano/img/logo.png') }}" alt=""/></a>
        <div class="menu_top">
          <ul>
            <li><a href="{{ path('contactos') }}" class="{% if (activemenu is defined) and activemenu == 'contactos' %}current{%endif%}">{% trans %}menu_contactos{% endtrans %}</a></li>
            <li><a href="{{ path('salaprensa') }}" class="{% if (activemenu is defined) and activemenu == 'prensa' %}current{%endif%}" >{% trans %}menu_sala_prensa{% endtrans %}</a></li>
            <li><a href="{{ path('novedades') }}" class="{% if (activemenu is defined) and activemenu == 'novedades' %}current{%endif%}" >{% trans %}menu_novedades{% endtrans %}</a></li>
          </ul>
          {#{ render(controller('MaithJuicioCiudadanoBundle:Default:searchForm'))}#}
          {{ liip_search_box('', 'query-field-id', 'css-class') }}
        </div>
        <div id='cssmenu'>
          <ul>
            <li class='active has-sub'><a href="javascript:void(0)" ><span>{% trans %}menu_proyecto{% endtrans %}</span></a>
              <ul>
                <li><a href="{{ path('antecedentes') }}" class="{% if (activemenu is defined) and activemenu == 'antecedentes' %}current{%endif%}" ><span>{% trans %}menu_antecedentes{% endtrans %}</span></a></li>
                <li><a href="{{ path('quienessomos') }}" class="{% if (activemenu is defined) and activemenu == 'quienessomos' %}current{%endif%}" ><span>{% trans %}menu_quienes_somos{% endtrans %}</span></a></li>
                <li><a href="{{ path('miradanacionallocal') }}" class="{% if (activemenu is defined) and activemenu == 'miradanacionallocal' %}current{%endif%}"><span>{% trans %}menu_mirada_nacional_local{% endtrans %}</span></a></li>
                {#<li><a href="{{ path('financiadores') }}" class="{% if (activemenu is defined) and activemenu == 'financiadores' %}current{%endif%}" ><span>{% trans %}menu_financiadores{% endtrans %}</span></a></li>#}
                <li><a href="{{ path('resultados') }}" class="{% if (activemenu is defined) and activemenu == 'resultados' %}current{%endif%}" ><span>{% trans %}menu_resultados{% endtrans %}</span></a></li>
              </ul> 
            </li>
            <li class='active has-sub'><a href="javascript:void(0)" ><span>{% trans %}menu_enfoque{% endtrans %}</span></a>
              <ul>
                <li><a href="{{ path('deliberacion') }}" class="{% if (activemenu is defined) and activemenu == 'deliberacion' %}current{%endif%}" ><span>{% trans %}menu_deliberacion_desarrollo{% endtrans %}</span></a></li>
                <li class='has-sub'>
                  <a href="javascript:void(0)" class="{% if (activemenu is defined) and (activemenu == 'delphi' or activemenu == 'focales' or activemenu == 'dialogos' ) %}current{%endif%}">
                    <span>{% trans %}menu_metodologias{% endtrans %}</span>
                  </a>
                  <ul>
                    {#<li><a href="{{ path('metodologiageneral') }}" class="{% if (activemenu is defined) and activemenu == 'metodologia' %}current{%endif%}"><span>{% trans %}menu_metodologia{% endtrans %}</span></a></li>#}
                    <li><a href="{{ path('metodologiadelphi') }}" class="{% if (activemenu is defined) and activemenu == 'delphi' %}current{%endif%}"><span>{% trans %}menu_metodologia_delphi{% endtrans %}</span></a></li>
                    <li><a href="{{ path('metodologiafocales') }}" class="{% if (activemenu is defined) and activemenu == 'focales' %}current{%endif%}"><span>{% trans %}menu_metodologia_focales{% endtrans %}</span></a></li>
                    <li class='last'><a href="{{ path('metodologiadialogos') }}" class="{% if (activemenu is defined) and activemenu == 'dialogos' %}current{%endif%}"><span>{% trans %}menu_metodologia_dialogos{% endtrans %}</span></a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class='active has-sub'><a href="javascript:void(0)"><span>{% trans %}menu_biblioteca{% endtrans %}</span></a>
              <ul>
                <li class='has-sub'>
                  {{ render(controller('MaithJuicioCiudadanoBundle:Default:textosCategories'))}}
                  
                </li>
                <li><a href="{{ path('multimedia') }}" class="{% if (activemenu is defined) and activemenu == 'multimedia' %}current{%endif%}" ><span>{% trans %}menu_multimedia{% endtrans %}</span></a></li>
                {#
                <li><a href="{{ path('links') }}" class="{% if (activemenu is defined) and activemenu == 'links' %}current{%endif%}" ><span>{% trans %}menu_links{% endtrans %}</span></a></li>
                #}
              </ul>
            </li>
            <li class='last'><a href="{{ path('agenda') }}" class="{% if (activemenu is defined) and activemenu == 'agenda' %}current{%endif%}"><span>{% trans %}menu_incidi_agenda{% endtrans %}</span></a></li>
          </ul>
        </div>
      </div>
    </header>

        <section class="wrapper">
          <div class="bullet_vertical">
            <img src="{{ asset('bundles/maithjuiciociudadano/img/bullet_vertical.png') }}">
          </div>
        </section>
        {% block body %}
        {% endblock %}

        {% block liip_search_content %}
        {% endblock %}        

      {% if indexForm is defined and indexForm %}
        {{ render(controller('MaithJuicioCiudadanoBundle:Default:contactForm'))}}
      {% else %}
        {{ render(controller('MaithJuicioCiudadanoBundle:Default:contactInsideForm'))}}
      {%endif%}
      <div id='contact_form_errors'></div>
    <footer>
      <div class="wrapper">
        <div class="rights">
          <p>© ¿Qué desarollo en Uruguay? - Todos los derechos reservados - 2015</p>
        </div>
        <div class="logos">
			<img src="{{ asset('bundles/maithjuiciociudadano/img/logo_art_2byn.jpg') }}"/>
            <img src="{{ asset('bundles/maithjuiciociudadano/img/pnud_byn.jpg') }}"/>
            <img src="{{ asset('bundles/maithjuiciociudadano/img/universidad-de-la-republica.jpg') }}"/>
		</div>
        <ul>
          <a href="https://www.facebook.com/quedesarrollouy?ref=hl"><li class="fb"></li></a>
          <a href="https://twitter.com/QueDesarrolloUy"><li class="tw"></li></a>
          <a href="https://www.youtube.com/channel/UC6a4yCg7Leh6du6JR66FOEA"><li class="yout"></li></a>
        </ul>
      </div>		
    </footer><!--  End footer  -->
    <script type="text/javascript" src="{{ asset('bundles/maithjuiciociudadano/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/maithjuiciociudadano/js/wow.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/maithjuiciociudadano/js/main.js') }}"></script>
    

    <!--submenu-->
    <!--<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>-->
    {# <script src="{{ asset('bundles/maithjuiciociudadano/js/script.js') }}"></script> #}
    {% block javascripts %}{% endblock %}

    <!-- Place this tag in your head or just before your close body tag. -->
    <script src="https://apis.google.com/js/platform.js" async defer>
      {lang: 'es-419'}
    </script>
  </body>
</html>
